* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.top_section {
    background-color: black;
    color: white;
    height: 51px;
    font-size: 14px;
}

#text {
    display: flex;
    float: right;

    p {
        padding: 21px;

        a {
            text-decoration: none;
            color: white;
        }
        i {
            padding-right: 10px;
        }
    }
}

nav {

    display: flex;
    font-size: 14px;
    width: 100%;
    // height: 132px;

    .first {
        margin-left: 71px;
        
        li {
            display: inline-flex;
            list-style: none;
            padding-top: 57px;
            padding-bottom: 57px;
            padding-right: 65px;

            i {
                padding: 5px;
            }
        }
    }

    
    a {
        text-decoration: none;
        color: black;
    }

    img {
        height: 38px;
        width: 182px;
        margin-top: 49px;
        margin-bottom: 49px;
        margin-left: 150px;
        margin-right: 50px;
    }

    .second {

        li {
            display: inline-flex;
            list-style: none;
            padding-top: 57px;
            padding-bottom: 57px;
            padding-left: 32px;
        }

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);

            &:hover {
                border-bottom: 3px solid red;
            }
        }      
    }
}

.card {
    height: 761px;
    
    img {
        position: absolute;
        width: 100%;
    }

    p {
        position: relative;
        padding-top: 275px;
        padding-left: 230px;
        color: white;
        font-size: 30px;
        width: 40%;
        line-height: 30px;
        z-index: 1;
    }
}

.first_section {
    display: flex;
    position: relative;
    height: 400px;

    .committed {
        width: 50%;

        p {
            padding-top: 100px;
            padding-left: 100px;
            font-size: 45px;
            width: 60%;
        }

        span {
            color: red;
            font-family: 'Permanent Marker', cursive;
        }
    }

    .about {
        width: 50%;

        p {
            width: 50%;
            padding-top: 100px;
            padding-bottom: 20px;
            font-size: 20px;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.5);
        }

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.stats {
    display: flex;
    margin-top: 100px;
    margin-left: 60px;

    .numbers {
        color: rgba(255, 0, 0, 0.7);
        font-size: 75px;
    }

    p {
        display: flex;
        padding: 20px;
        
        .text {
            width: 54%;
            font-size: 15px;
            padding: 27px;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.video {
    display: flex;
    color: white;
    margin-top: 150px;

    .clip_play {
        height: 100px;
        width: 500px;
        margin-left: 100px;
        margin-top: 200px;
        background-color: red;
        overflow: hidden;
        z-index: 1;
        position: absolute;

        p:first-child {
            padding-top: 25px;
            font-size: 20px;
        }

        p:last-child {
            color: rgba(255, 255, 255, 0.7);
        }

        p {
            padding-left: 30px;
        }
    }

    .thumbnail {
        width: 100%;
        margin-left: 500px;
        z-index: -1;
        // overflow: hidden;
        
        img {
            height: 500px;
            width: 100%;
        }
    }
}

.section2 {
    display: flex;
    margin-top: 80px;

    .sub_section1 {
        width: 50%;

        .legacy {
            padding: 100px;

            h2 {
                font-size: 45px;
                width: 80%;
            }

            span {
                color: red;
                font-family: 'Permanent Marker', cursive;
            }

            p {
                color: rgba(0, 0, 0, 0.5);
                font-size: 20px;
                margin-top: 15px;
                width: 70%;
            }
        }

        .old_pics {
            display: flex;

            .set1 {
                width: 55%;
            }

            .set2 {
                margin-top: 50px;
            }
        }
    }

    .sub_section2 {
        width: 50%;
        display: flex;

        .nums {
            color: rgba(0, 0, 0, 0.5);
            margin-top: 230px;
            // margin-bottom: 200px;

            p {
                font-size: 20px;
                padding-bottom: 300px;
                padding-left: 50px;
            }
        }

        .desc {
            margin-top: 260px;

            p {
                width: 50%;
                font-size: 30px;
                padding-bottom: 250px;
                padding-left: 100px;
            }
        }
    }
}

.section3 {
    margin-top: 100px;
    height: 800px;
    
    img {
        position: absolute;
        height: 800px;
        width: 100%;
    }

    
    .para {

        position: relative;
        width: 30%;
        padding-top: 150px;
        padding-left: 50px;
        margin-left: 600px;
        font-size: 15px;

        h1 {
            margin-bottom: 50px;
            font-size: 40px;
            width: 100%;
    
            span {
                color: red;
                font-family: 'Permanent Marker', cursive;
            }
        }

        p {
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.5);
        }

        #read_more {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        }

    }
        
    .appointment_link {

        position: relative;
        margin-top: 110px;
        padding-left: 50px;
        font-size: 15px;

        a{
            width: 50%;
            margin-left: 600px;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
    
            &:hover {
                border-bottom: 3px solid red;
            }
        }
    }
}

.section4 {

    height: 835px;
    img {
        position: absolute;
        width: 100%;
    }

    
    .para {

        position: relative;
        width: 30%;
        padding-top: 150px;
        margin-left: 200px;
        font-size: 17px;

        h1 {
            margin-bottom: 40px;
            font-size: 40px;
            width: 100%;
    
            span {
                color: red;
                font-family: 'Permanent Marker', cursive;
            }
        }

        p {
            width: 60%;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.news_section {
    
    margin-top: 20px;
    margin-bottom: 50px;

    h1 {
        text-align: center;
        color: rgba(0, 0, 0, 0.2);
    }

    .cards {
        display: flex;
        padding-left: 200px;
        padding-right: 200px;
        margin-top: 60px;

        .card1 {
            width: 21%;
            height: 350px;
            margin: auto;
            background-color: rgb(244, 244, 248);
            border-bottom: 3px solid red;

            img {
                width: 100%;
                margin-bottom: 10px;
            }

            #event {
                display: inline;
                color: rgb(105, 105, 182);
                margin: 10px 0px 10px 10px;
            }

            #date {
                display: inline;
                padding-left: 10px;
                color: rgba(0, 0, 0, 0.5);
            }

            #event_desc {
                margin: 10px 10px;
            }

            .read_more {
                display: block;
                margin: 10px 0px 10px 10px;

                a {
                    text-decoration: none;
                    color: red;
                }
            }
        }

        .card2 {
            width: 21%;
            height: 350px;
            margin: auto;
            background-color: rgb(244, 244, 248);
            border-bottom: 3px solid red;

            img {
                width: 100%;
                margin-bottom: 10px;
            }

            #event {
                display: inline;
                color: rgb(52, 52, 118);
                margin: 10px 0px 10px 10px;
            }

            #date {
                display: inline;
                padding-left: 10px;
                color: rgba(0, 0, 0, 0.5);
            }

            #event_desc {
                margin: 10px 10px;
            }

            a {
                text-decoration: none;
                color: red;
                margin: 10px 0px 10px 10px;
            }
        }

        .card3 {
            width: 21%;
            height: 350px;
            margin: auto;
            padding-top: 20px;
            background-color: rgb(244, 244, 248);
            border-bottom: 3px solid red;

            #event {
                display: inline;
                color: rgb(251, 202, 110);
                margin: 10px 0px 10px 10px;
            }

            #date {
                display: inline;
                padding-left: 10px;
                color: rgba(0, 0, 0, 0.5);
            }

            #event_desc {
                margin: 10px 10px;
            }

            a {
                text-decoration: none;
                color: red;
                margin: 10px 0px 10px 10px;
                bottom: 0px;
            }
        }
    }

    #load_more {
        display: block;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        border: none;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        background-color: white;
        color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        cursor: pointer;
    }
}

.product_section {

    margin-top: 50px;
    .head_text {
        h1 {
            text-align: center;
            color: rgba(0, 0, 0, 0.2);
            margin-bottom: 30px;
        }
        
        p {
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
            width: 50%;
            margin: auto;
        }
    }

    .product_img {
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
        .product_list {
            width: 30%;
            margin-left: 150px;
            box-shadow: 3px 0px 6px -5px #aba9a9;
            
            li {
                list-style: none;
            }

            a {
                font-size: 15px;
                text-decoration: none;
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 20px;
                // padding: 10px;

                i {
                    padding: 10px;
                    margin-right: 5px;
                }
                
                &:hover {
                    color: red;
                    font-size: 17px;
                }
            }
        }

        .images {
            width: 50%;
            margin: auto;

            .main_img {
                text-align: center;
                max-width: 750px;
                margin-bottom: 20px;
            }

            .thumb_img {
                display: flex;
                padding: 0 265px;
                .box {
                    display: flex;
                    height: 70px;
                    width: 70px;
                    border: 1px solid #aba9a9;
                    margin: 2px;
                    cursor: pointer;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .active {
                    border: 5px solid red;
                }
            }

            .links {
                margin-top: 30px;
                text-align: center;

                li {
                    list-style: none;
                    display: inline-block;

                    a {
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.4);
                        padding: 10px;

                        &:hover {
                            border-bottom: 3px solid red;
                        }
                    }
                }
            }
        }
    }
}

.contact_section {
    margin-top: 50px;
    margin-bottom: 90px;
    display: flex;

    .get_involved {
        width: 50%;
        padding-left: 70px;
        h1 {
            padding-bottom: 58px;
            font-size: 40px;
            color: rgba(0, 0, 0, 0.2);
        }

        .input {
            display: flex;
        }

        #touch_select {
            width: 400px;
            height: 50px;
            font-size: 30px;
            font-weight: bold;
            border: none;
            border-bottom: 2px solid rgb(171, 169, 169);
        }

        .btn {
            height: 50px;
            width: 120px;
            background-color: rgb(172, 5, 5);
            color: white;
            border: none;
            cursor: pointer;
        }
    }

    .keep_in_touch {
        width: 50%;
        padding-left: 50px;

        h1 {
            padding-bottom: 20px;
            font-size: 40px;
            color: rgba(0, 0, 0, 0.2);
        }

        p {
            color: rgba(0, 0, 0, 0.4);
            padding-bottom: 20px;
        }

        .input {
            background-color: rgb(248, 248, 248);
            width: 74%;
        }

        #email {
            width: 400px;
            height: 50px;
            font-size: 15px;
            border: none;
            background-color: rgb(248, 248, 248);
            padding-left: 30px;
        }

        .btn {
            height: 50px;
            width: 120px;
            background-color: rgb(172, 5, 5);
            color: white;
            border: none;
            cursor: pointer;
        }
    }
}

.bottom_section {
    background-color: black;
    padding: 50px;
    overflow: hidden;
    clear: both;

    img {
        margin-top: 60px;
        margin-left: 60px;

    }

    .sub_section {
        color: white;
        margin-top: 200px;
        margin-left: 45px;
        display: flex;

        .section1 {
            margin-right: 10px;

            h3 {
                margin-left: 35px;
                margin-bottom: 25px;
            }

            li {
                list-style: none;
            }
            
            a {
                margin-left: 10px;
                margin-bottom: 5px;
                font-size: 10px;
                text-decoration: none;
                color: rgba(204, 200, 200, 0.7);
            }
        }

        .section2 {
            margin-right: 10px;

            display: inline;
            margin-top: 0;

            h3 {
                margin-left: 35px;
                margin-bottom: 25px;
            }

            li {
                list-style: none;
            }
            
            a {
                margin-left: 10px;
                margin-bottom: 5px;
                font-size: 10px;
                text-decoration: none;
                color: rgba(204, 200, 200, 0.7);
            }
        }

        .section3 {
            margin-right: 10px;
            height: 0;
            display: inline;
            margin-top: 0;
            
            h3 {
                margin-left: 35px;
                margin-bottom: 25px;
            }

            li {
                list-style: none;
            }
            
            a {
                margin-left: 10px;
                margin-bottom: 5px;
                font-size: 10px;
                text-decoration: none;
                color: rgba(204, 200, 200, 0.7);
            }
        }

        .section4 {
            margin-right: 10px;
            height: 0;
            display: inline;
            
            h3 {
                margin-left: 35px;
                margin-bottom: 25px;
            }

            li {
                list-style: none;
            }
            
            a {
                margin-left: 10px;
                margin-bottom: 5px;
                font-size: 10px;
                text-decoration: none;
                color: rgba(204, 200, 200, 0.7);
            }
        }

        .section5 {
            margin-right: 10px;

            display: inline;

            .section_5a {
                display: block;
                h3 {
                    margin-left: 35px;
                    margin-bottom: 25px;
                }
    
                li {
                    list-style: none;
                }
                
                a {
                    margin-left: 10px;
                    margin-bottom: 5px;
                    font-size: 10px;
                    text-decoration: none;
                    color: rgba(204, 200, 200, 0.7);
                }
            }

            .section_5b {
                display: block;

                h3 {
                    margin-top: 25px;
                    margin-left: 35px;
                    margin-bottom: 25px;
                }
    
                li {
                    list-style: none;
                }
                
                a {
                    margin-left: 10px;
                    margin-bottom: 5px;
                    font-size: 10px;
                    text-decoration: none;
                    color: rgba(204, 200, 200, 0.7);
                }
            }
        }

        .section6 {
            margin-right: 10px;
            display: inline;
            
            .section_6a {
                h3 {
                    margin-left: 35px;
                    margin-bottom: 25px;
                }
    
                li {
                    list-style: none;
                }
                
                a {
                    margin-left: 10px;
                    margin-bottom: 5px;
                    font-size: 10px;
                    text-decoration: none;
                    color: rgba(204, 200, 200, 0.7);
                }
            }

            .section_6b {
                h3 {
                    margin-top: 50px;
                    margin-left: 35px;
                    margin-bottom: 25px;
                }
    
                li {
                    list-style: none;
                }
                
                a {
                    margin-left: 10px;
                    margin-bottom: 5px;
                    font-size: 10px;
                    text-decoration: none;
                    color: rgba(204, 200, 200, 0.7);
                }
            }
            
        }

        .section7 {

            display: inline;
            width: 20%;
            
            h3 {
                margin-left: 35px;
                margin-bottom: 25px;
            }

            li {
                list-style: none;
            }
            
            p {
                width: 80%;
                padding-left: 35px;
                color: rgba(204, 200, 200, 0.7);
                margin-bottom: 30px;
                font-size: 10px;
            }
        }
    }
}

footer {
    display: flex;
    overflow: hidden;
    clear: both;
    background-color: rgb(98, 97, 97);
    height: 100px;
    color: rgba(204, 200, 200, 0.7);
    font-size: 13px;

    .links {
        padding: 30px;
         li{
             list-style: none;
             display: inline;
             padding-right: 5px;
         }

         a {
             text-decoration: none;
             color: rgba(204, 200, 200, 0.7);
         }
    }
    
    .copyright {
        margin-left: 750px;
        padding: 40px;
        padding-right: 90px;
    }
}